  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 2rem;
    width: 100%;
    text-align: center;
  }
  
  h1 {
    font-size: 3rem;
    color: #b45309;
    margin-top: 7rem;
    margin-bottom: 0;
  }

  h2 {
    margin-top: 4rem;
    color: #b45309;
  }
  
  p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #b45309;
    margin-top: 0;
  }
  
  .button-wrapper {
    text-align: right;
    margin-top: 1.5rem;
  }

  .button-row {
    margin-bottom: 2rem;
  }
  
  button {
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    border-radius: 999px;
    border: none;
    background-color: #fcd34d;
    color: #945247;
    font-family: "Gaegu";
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  button:hover {
    background-color: #ffd19c;
    color: #945247;
  }

  .avatar-final {
    position: relative;
    width: 400px; /* or whatever size fits your design */
    height: 400px;
    margin-top: 20px;
    text-align: center;
  }
  
  .avatar-final img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    text-align: center;
    pointer-events: none; /* optional: disables mouse clicks on layers */
  }

  .center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh; /* Adjust based on how much vertical space you want */
  }

  

  
  