.home {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
  }
  
  .home h1 {
    font-size: 2rem;
    color: #b45309;
    margin-bottom: 0;
  }
  
  .home p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #b45309;
    margin-top: 0;
  }

  .home .nav-links a {
    text-decoration: none;
    color: #fcd34d;
    background-color: #bd631e;
    border-radius: 9999px;
    padding: 0.4rem 1rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
  }
  
  .home .nav-links a:hover {
    background-color: #fcd34d;
    color: #b45309;
  }
  